Repository MattCost/CatCam: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-file-watcher.yaml, pipelines/build-video-capture.yaml

pipelines/build-file-watcher.yaml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  paths:
    include:
      - src/EdgeModules/FileWatcher
      - pipelines/build-file-watcher.yaml

steps:
- task: Docker@2
  displayName: Docker Build of File Watcher module amd64
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'file-watcher'
    command: 'build'
    Dockerfile: 'src/EdgeModules/FileWatcher/Dockerfile.amd64'
    buildContext: 'src'
    tags: 'amd64-latest'

- task: Docker@2
  displayName: Docker Push of File Watcher module
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'file-watcher'
    command: 'push'
    tags: 'amd64-latest'

- task: Docker@2
  displayName: Docker Build of File Watcher module arm32
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'file-watcher'
    command: 'build'
    Dockerfile: 'src/EdgeModules/FileWatcher/Dockerfile.arm32v7'
    buildContext: 'src'
    tags: 'arm32-latest'

- task: Docker@2
  displayName: Docker Push of File Watcher module
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'file-watcher'
    command: 'push'
    tags: 'arm32-latest'

pipelines/build-video-capture.yaml:

pool:
  vmImage: 'ubuntu-latest'

trigger:
  paths:
    include:
      - src/EdgeModules/VideoCapture
      - pipelines/build-video-capture.yaml      

steps:
- task: Docker@2
  displayName: Docker Build of Video Capture module amd64
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'video-capture'
    command: 'build'
    Dockerfile: 'src/EdgeModules/VideoCapture/Dockerfile.amd64'
    buildContext: 'src/EdgeModules/VideoCapture'
    tags: 'amd64-latest'

- task: Docker@2
  displayName: Docker Push of Video Capture module
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'video-capture'
    command: 'push'
    tags: 'amd64-latest'

- task: Docker@2
  displayName: Docker Build of Video Capture module arm32
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'video-capture'
    command: 'build'
    Dockerfile: 'src/EdgeModules/VideoCapture/Dockerfile.arm32v7'
    buildContext: 'src/EdgeModules/VideoCapture'
    tags: 'arm32-latest'

- task: Docker@2
  displayName: Docker Push of Video Capture module
  inputs:
    containerRegistry: 'catcamacr-dev'
    repository: 'video-capture'
    command: 'push'
    tags: 'arm32-latest'

change context
  pipelines/build-file-watcher.yaml
Due: pipelines/build-file-watcher.yaml

fix build
  src/EdgeModules/FileWatcher/Dockerfile.arm32v7
Due: pipelines/build-file-watcher.yaml

testing template
  pipelines/build-edge-module.yaml
  pipelines/build-file-watcher.yaml
Due: pipelines/build-file-watcher.yaml

Update build-file-watcher.yaml for Azure Pipelines
  pipelines/build-file-watcher.yaml
Due: pipelines/build-file-watcher.yaml

fix template
  pipelines/build-edge-module.yaml
Due: none

pipelines
  pipelines/build-file-watcher.yaml
  pipelines/build-video-capture.yaml
Due: pipelines/build-file-watcher.yaml, pipelines/build-video-capture.yaml

local builds are tagged as such
  scripts/build-file-watcher.sh
  scripts/build-video-capture.sh
Due: none

trying to avoid format error
  src/EdgeModules/VideoCapture/Dockerfile.arm32v7
Due: pipelines/build-video-capture.yaml

edge module updates
  src/EdgeCommon/EdgeCommon.csproj
  src/EdgeCommon/Messages/ClipCreated.cs
  src/EdgeModules/FileWatcher/src/FileWatcher.csproj
  src/EdgeModules/VideoCapture/configs.py
  src/EdgeModules/VideoCapture/patch.txt
Due: pipelines/build-file-watcher.yaml, pipelines/build-video-capture.yaml

new models
  src/Common/Models/CameraModel.cs
  src/Common/Models/LocationModel.cs
  src/Common/Models/SiteModel.cs
  src/Common/Models/WeatherForecast.cs
Due: none

custom ex
  src/Common/Exceptions/EntityNotFoundException.cs
Due: none

moved to edgeCommon
  src/Common/Messages/ClipCreated.cs
Due: none

start of data layer
  src/Common/Services/EntityProvider/EntityProviderTableStorage.cs
  src/Common/Services/EntityProvider/IEntityProvider.cs
Due: none

secrets
  src/Common/Services/Secrets/EnvVarSecretManager.cs
  src/Common/Services/Secrets/ISecretsManager.cs
  src/Common/Services/Secrets/UserSecretsSecretManager.cs
Due: none

start of clip browser
  src/Common/Services/Storage/ClipBrowserAzureBlobStorage.cs
  src/Common/Services/Storage/IClipBrowser.cs
Due: none

moved to common
  src/API/Services/ClipBrowserAzureBlobStorage.cs
  src/API/Services/EnvVarSecretManager.cs
  src/API/Services/IClipBrowser.cs
  src/API/Services/ISecretsManager.cs
Due: none

start of controllers
  src/API/Controllers/LocationsController.cs
  src/API/Controllers/SitesController.cs
  src/API/Controllers/VideoClipsController.cs
  src/API/Controllers/WeatherForecastController.cs
Due: none

cleanup
  src/API/Controllers/LocationsController.cs
  src/API/Controllers/SitesController.cs
  src/API/Startup.cs
  src/Common/Common.csproj
  src/Common/Services/EntityProvider/EntityProviderTableStorage.cs
Due: none

notes
  README.md
Due: none

auth skeleton
  src/API/Controllers/SitesController.cs
  src/API/Startup.cs
  src/Common/Services/Authorization/LocalAuthHandler.cs
  src/Common/Services/Authorization/OperationAuthReqBase.cs
  src/Common/Services/Authorization/SiteAuthHandler.cs
  src/Common/Services/Authorization/SiteOperations.cs
Due: none

auth
  src/Common/Common.csproj
Due: none

auth wip
  src/API/Startup.cs
  src/Common/Services/Authorization/AlwaysAllowAuthHandler.cs
Due: none

tabling auth handlers for prototype
  src/API/Controllers/LocationsController.cs
  src/API/Controllers/SitesController.cs
  src/API/Controllers/VideoClipsController.cs
Due: none

auth handler notes
  README.md
  src/API/Startup.cs
Due: none

adding iot device interaction
  src/API/Controllers/DeviceController.cs
  src/API/Startup.cs
  src/Common/Common.csproj
  src/Common/Services/IOTHub/IIOTHubService.cs
  src/Common/Services/IOTHub/IOTHubService.cs
  src/Common/Services/IOTHub/TwinDictExtensions.cs
Due: none

edge module overhaul
  CatCam.sln
  src/EdgeCommon/EdgeCommon.csproj
  src/EdgeCommon/Messages/Events/FatalErrorEvent.cs
  src/EdgeCommon/Modules/EdgeModuleBase.cs
  src/EdgeCommon/Modules/EdgeModuleConfigurationBase.cs
  src/EdgeCommon/Modules/EdgeModuleWorker.cs
  src/EdgeCommon/Modules/IEdgeModule.cs
  src/EdgeCommon/Services/Clients/DebugDeviceClientWrapper.cs
  src/EdgeCommon/Services/Clients/DebugModuleClientWrapper.cs
  src/EdgeCommon/Services/Clients/DeviceClientWrapper.cs
  src/EdgeCommon/Services/Clients/IDeviceClientWrapper.cs
  src/EdgeCommon/Services/Clients/IModuleClientWrapper.cs
  src/EdgeCommon/Services/Clients/ModuleClientWrapper.cs
  src/EdgeCommon/Services/FileUpload/BlobStorageUploadService.cs
  src/EdgeCommon/Services/FileUpload/DebugUploadService.cs
  src/EdgeCommon/Services/FileUpload/IFileUploadService.cs
  src/EdgeModules/FileWatcher/src/FileWatcherConfiguration.cs
  src/EdgeModules/FileWatcher/src/FileWatcherEdgeModule.cs
  src/EdgeModules/FileWatcher/src/ModuleBackgroundService.cs
  src/EdgeModules/FileWatcher/src/ModuleConfig.cs
  src/EdgeModules/FileWatcher/src/Program.cs
  src/EdgeModules/FileWatcher/src/Services/ModuleClientWrapper.cs
  src/EdgeModules/FileWatcher/src/appsettings.json
Due: pipelines/build-file-watcher.yaml

use a base class
  src/API/Controllers/EntityProviderBaseController.cs
  src/API/Controllers/LocationsController.cs
  src/API/Controllers/SitesController.cs
Due: none

device interaction
  src/API/Controllers/DeviceController.cs
Due: none

get swagger working
  src/API/Startup.cs
Due: none

add custom exceptions
  src/Common/Exceptions/EntityLockedException.cs
  src/Common/Exceptions/EntityNotFoundException.cs
Due: none

logs
  src/API/appsettings.Development.json
Due: none

namespace move
  src/EdgeCommon/Messages/Telemetry/ClipCreated.cs
  src/EdgeModules/FileWatcher/src/FileWatcherEdgeModule.cs
Due: pipelines/build-file-watcher.yaml

fix file access
  src/EdgeCommon/Services/FileUpload/BlobStorageUploadService.cs
Due: none

testing logger change, formatting
  src/EdgeCommon/Modules/EdgeModuleBase.cs
Due: none

add new edge ex
  src/EdgeCommon/Messages/Exceptions/InvalidPropertyException.cs
Due: none

log settings
  src/EdgeModules/FileWatcher/src/appsettings.json
Due: pipelines/build-file-watcher.yaml

file formatting
  src/EdgeModules/FileWatcher/src/Program.cs
Due: pipelines/build-file-watcher.yaml

local version bump
  src/EdgeModules/FileWatcher/patch.txt
Due: pipelines/build-file-watcher.yaml

python capture wip
  src/EdgeModules/VideoCapture/Dockerfile.arm32v7
  src/EdgeModules/VideoCapture/main.py
  src/EdgeModules/VideoCapture/patch.txt
  src/EdgeModules/VideoCapture/raspberry.gpg
  src/EdgeModules/VideoCapture/raspberrypi.gpg
  src/EdgeModules/VideoCapture/raspberrypi.list
  src/EdgeModules/VideoCapture/raspbian.public.key
  src/EdgeModules/VideoCapture/requirements.txt
Due: pipelines/build-video-capture.yaml
